{% extends 'user_templates/base.html' %}
{% load static %}
{% block main_content %}
<div class="nk-content nk-content-fluid">
    <div class="container-xl wide-lg">
        <div class="nk-content-body">
            <div class="nk-block-head">
                <div class="nk-block-head-sub">
                </div>
                <div class="nk-block-between-md g-4 card-bordered">
                    <div class="nk-block-head-content">
                        <h4 class="nk-block-title fw-normal">Good morning Leo </h4>
                        <div class="nk-block-des">
                            <p>At a glance summary of your account!</p>
                        </div>
                    </div><!-- .nk-block-head-content -->
                    <div class="nk-block-head-content">
                        <ul class="nk-block-tools gx-3">
                            <li><a href="https://veritasfinancial.cc/personal-banking/check-deposit" class="btn btn-primary"><span>Deposit</span> <em class="icon ni ni-arrow-long-right"></em></a></li>
                            <li><a href="https://veritasfinancial.cc/personal-banking/transfer" class="btn btn-secondary btn-light text-light"><span>Transfer Fund</span> <em class="icon ni ni-arrow-long-right d-none d-sm-inline-block"></em></a></li>
                        </ul>
                    </div><!-- .nk-block-head-content -->
                </div><!-- .nk-block-between -->
            </div><!-- .nk-block-head -->
            <div class="nk-block">
                <div class="row gy-gs">
                    <div class="col-lg-6 col-xl-6">
                        <div class="nk-block">
                            <div class="nk-block-head-xs">
                                <div class="nk-block-head-content">
                                    <h5 class="nk-block-title title">Overview</h5>
                                </div>
                            </div><!-- .nk-block-head -->
                            <div class="nk-block">
                                <div class="card card-bordered text-light is-dark h-100">
                                    <div class="card-inner">
                                        <div class="nk-wg7">
                                            <div class="nk-wg7-stats-group">
                                                <div class="nk-wg7-stats w-50" style="background-image: url(../protected/passport/); border-color: white; border-width: 5px; border-radius: 50%;">
                                                                                                                   <img class="img img-rounded" src="./LoginHome_files/Screenshot_20230904-224505.jpg" width="85" style="border-color: white; border-width: 5px; border-radius:50px;" height="85">
                                                                                                       </div>
                                            <div class="nk-wg7-stats w-50">
                                                <div class="nk-wg7-title">Available balance</div>
                                                <div class="number-lg amount">USD 3,833,000.00</div>
                                                Michael  Wilson  James                                                             </div> 
                                            </div>
                                            <div class="nk-wg7-stats-group">
                                                <div class="nk-wg7-stats w-50">
                                                    <div class="nk-wg7-title">Linked Cards</div>
                                                    <div class="number-lg">3</div>
                                                </div>
                                                <div class="nk-wg7-stats w-50"> 
                                                    <div class="nk-wg7-title">Your IP address</div>
                                                    <div class="number"><img src="./LoginHome_files/ng.png"> 129.205.113.156</div>
                                                </div>
                                            </div>
                                        </div><!-- .nk-wg7 -->
                                    </div><!-- .card-inner -->
                                </div><!-- .card -->
                            </div><!-- .nk-block -->
                        </div><!-- .nk-block -->
                    </div><!-- .col -->
                    
                     <div class="col-lg-6 col-xl-6">
                        <div class="nk-block">
                            <div class="nk-block-head-xs">
                                <div class="nk-block-between-md g-2">
                                    <div class="nk-block-head-content">
                                        <h5 class="nk-block-title title">Business Account</h5>
                                    </div>
                                    <div class="nk-block-head-content">
                                        <a href="https://veritasfinancial.cc/personal-banking/transfer" class="link link-primary">Transfer Fund</a>
                                    </div>
                                </div>
                            </div><!-- .nk-block-head -->
                            <div class="row g-2">
                                <div class="col-sm-12">
                                    <div class="card bg-light">
                                        <div class="nk-wgw sm">
                                            <a class="nk-wgw-inner" href="https://veritasfinancial.cc/personal-banking/dashboard.php?viewSource=SmpcO9pZk6OgwfP4Q6WR9ZElWe4t81fboVDDe2nO9B55qU9GbghkGwWnbbfjcLLRqYeV#">
                                                <div class="nk-wgw-name">
                                                    <div class="nk-wgw-icon">
                                                        <em class="icon ni ni-sign-cc-alt"></em>       </div>
                                                    <h5 class="nk-wgw-title title">*****41714</h5>
                                                </div>
                                                <div class="nk-wgw-balance">
                                                    <div class="amount">3,833,000.00<span class="currency currency-nio">USD</span></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .nk-block -->
                        <div class="nk-block nk-block-md">
                            <div class="nk-block-head-xs">
                                <div class="nk-block-between-md g-2">
                                    <div class="nk-block-head-content">
                                        <h6 class="nk-block-title title">Loans and lines of credit</h6>
                                    </div>
                                    <div class="nk-block-head-content">
                                        <a href="https://veritasfinancial.cc/personal-banking/pay-bills" class="link link-primary">Pay bills</a>
                                    </div>
                                </div>
                            </div><!-- .nk-block-head -->
                            <div class="row g-2">
                                <div class="col-sm-6">
                                    <div class="card bg-light">
                                        <div class="nk-wgw sm">
                                            <a class="nk-wgw-inner" href="https://veritasfinancial.cc/personal-banking/dashboard.php?viewSource=SmpcO9pZk6OgwfP4Q6WR9ZElWe4t81fboVDDe2nO9B55qU9GbghkGwWnbbfjcLLRqYeV#">
                                                <div class="nk-wgw-name">
                                                    <div class="nk-wgw-icon">
                                                        <em class="icon ni ni-check-circle"></em>
                                                    </div>
                                                    <h5 class="nk-wgw-title title">Business Support Loan</h5>
                                                </div>
                                                <div class="nk-wgw-balance">
                                                    <div class="amount">+4,000<span class="currency currency-nio">USD</span></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                             
                                <div class="col-sm-6">
                                    <div class="card bg-light">
                                        <div class="nk-wgw sm">
                                            <a class="nk-wgw-inner" href="https://veritasfinancial.cc/personal-banking/dashboard.php?viewSource=SmpcO9pZk6OgwfP4Q6WR9ZElWe4t81fboVDDe2nO9B55qU9GbghkGwWnbbfjcLLRqYeV#">
                                                <div class="nk-wgw-name">
                                                    <div class="nk-wgw-icon">
                                                        <em class="icon ni ni-sign-cc-alt2"></em>
                                                    </div>
                                                    <h5 class="nk-wgw-title title"> FICO Credit Score</h5>
                                                </div>
                                                <div class="nk-wgw-balance">
                                                    <div class="amount text-dark">750 &nbsp;<span class="badge-pill bg-success"> </span></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div> <!-- .nk-block -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .nk-block -->
             <div class="nk-block nk-block-lg">
                <div class="row gy-gs">
                    <div class="col-md-6">
                        <div class="card-head">
                            <div class="card-title  mb-0">
                                <h5 class="title">Recent Transaction Activities</h5>
                            </div>
                            <div class="card-tools">
                                <ul class="card-tools-nav">
                                    <li class="active"><a href="https://veritasfinancial.cc/personal-banking/dashboard.php?viewSource=SmpcO9pZk6OgwfP4Q6WR9ZElWe4t81fboVDDe2nO9B55qU9GbghkGwWnbbfjcLLRqYeV#">All</a></li>
                                </ul>
                            </div>
                        </div><!-- .card-head -->
                        <div class="tranx-list card card-bordered">
                                                                        <div class="tranx-item">
                                <div class="tranx-col">
                                    <div class="tranx-info">
                                        <div class="tranx-data">
                                            <div class="tranx-label">VER/5YONLFIT1-0923<em class="tranx-icon sm icon ni ni-wallet-in"></em></div>
                                            <div class="tranx-date">06 Sep 2023, 7:43 pm</div>
                                            <div class="text-primary">Contract payment.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tranx-col">
                                    <div class="tranx-amount">
                                        <div class="tranx-date">Amount</div>
                               <div class="text-success fs-16px">+ 3,000,000.00 
                                 <span class="currency currency-usd"><span class="currency currency-btc">USD</span></span></div>
                                        <div class="number-sm"><strong class="text-success">Completed</strong></div>
                                    </div>
                                </div>
                                 <div class="tranx-col">
                                    <div class="tranx-amount">
                                        <div class="number">Credit<span class="currency currency-btc"></span></div>
                                        <span class="badge badge-dim badge-pill badge-outline-primary" data-toggle="modal" data-target="#modalDefault1676">View Details</span>
                              </div>
                      </div>
             </div><!-- .tranx-item -->
<div class="modal fade" tabindex="-1" id="modalDefault1676">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header bg-primary text-light">
    <h5 class="modal-title text-light">Transaction Details</h5>
    <a href="https://veritasfinancial.cc/personal-banking/dashboard.php?viewSource=SmpcO9pZk6OgwfP4Q6WR9ZElWe4t81fboVDDe2nO9B55qU9GbghkGwWnbbfjcLLRqYeV#" class="close text-light" data-dismiss="modal" aria-label="Close">
        <em class="icon ni ni-cross"></em>
    </a>
</div>
<div class="modal-body">
      <ul class="buysell-overview-list">
                <li class="buysell-overview-item">
                <span class="pm-currency"><em class="icon ni ni-check-circle-fill"></em> <span>Amount:</span></span>
                    <span class="pm-title">USD 3,000,000.00</span>
                </li>
                 <li class="buysell-overview-item">
                <span class="pm-currency"><em class="icon ni ni-check-circle-fill"></em> <span>Transaction reference:</span></span>
                    <span class="pm-title">VER/5YONLFIT1-0923</span>
                </li>
                                                                                <li class="buysell-overview-item">
                <span class="pm-currency"><em class="icon ni ni-check-circle-fill"></em> <span>Date:</span></span>
                    <span class="pm-title">06 Sep 2023, 7:43 pm</span>
                </li>

                <li class="buysell-overview-item">
                <span class="pm-currency"><em class="icon ni ni-check-circle-fill"></em> <span>Available Balance:</span></span>
                    <span class="pm-title">USD 3,833,000.00</span>
                </li>
            </ul>
</div>
<div class="modal-footer bg-light">
    <span class="sub-text text-primary">Proccessed by Veritas Financial Union E-Service services.</span>
</div>
</div>
</div>
</div>
                                                                    <div class="tranx-item">
                                <div class="tranx-col">
                                    <div class="tranx-info">
                                        <div class="tranx-data">
                                            <div class="tranx-label">VER/RG4XTSCTL-0923<em class="tranx-icon sm icon ni ni-wallet-in"></em></div>
                                            <div class="tranx-date">25 Aug 2023, 10:00 pm</div>
                                            <div class="text-primary">Logistics </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tranx-col">
                                    <div class="tranx-amount">
                                        <div class="tranx-date">Amount</div>
                               <div class="text-success fs-16px">+ 8,000.00 
                                 <span class="currency currency-usd"><span class="currency currency-btc">USD</span></span></div>
                                        <div class="number-sm"><strong class="text-success">Completed</strong></div>
                                    </div>
                                </div>
                                 <div class="tranx-col">
                                    <div class="tranx-amount">
                                        <div class="number">Credit<span class="currency currency-btc"></span></div>
                                        <span class="badge badge-dim badge-pill badge-outline-primary" data-toggle="modal" data-target="#modalDefault1660">View Details</span>
                              </div>
                      </div>
             </div><!-- .tranx-item -->
<div class="modal fade" tabindex="-1" id="modalDefault1660">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header bg-primary text-light">
    <h5 class="modal-title text-light">Transaction Details</h5>
    <a href="https://veritasfinancial.cc/personal-banking/dashboard.php?viewSource=SmpcO9pZk6OgwfP4Q6WR9ZElWe4t81fboVDDe2nO9B55qU9GbghkGwWnbbfjcLLRqYeV#" class="close text-light" data-dismiss="modal" aria-label="Close">
        <em class="icon ni ni-cross"></em>
    </a>
</div>
<div class="modal-body">
      <ul class="buysell-overview-list">
                <li class="buysell-overview-item">
                <span class="pm-currency"><em class="icon ni ni-check-circle-fill"></em> <span>Amount:</span></span>
                    <span class="pm-title">USD 8,000.00</span>
                </li>
                 <li class="buysell-overview-item">
                <span class="pm-currency"><em class="icon ni ni-check-circle-fill"></em> <span>Transaction reference:</span></span>
                    <span class="pm-title">VER/RG4XTSCTL-0923</span>
                </li>
                                                                                <li class="buysell-overview-item">
                <span class="pm-currency"><em class="icon ni ni-check-circle-fill"></em> <span>Date:</span></span>
                    <span class="pm-title">25 Aug 2023, 10:00 pm</span>
                </li>

                <li class="buysell-overview-item">
                <span class="pm-currency"><em class="icon ni ni-check-circle-fill"></em> <span>Available Balance:</span></span>
                    <span class="pm-title">USD 833,000.00</span>
                </li>
            </ul>
</div>
<div class="modal-footer bg-light">
    <span class="sub-text text-primary">Proccessed by Veritas Financial Union E-Service services.</span>
</div>
</div>
</div>
</div>
                                                                    <div class="tranx-item">
                                <div class="tranx-col">
                                    <div class="tranx-info">
                                        <div class="tranx-data">
                                            <div class="tranx-label">VER/WTNKVCWN7-0923<em class="tranx-icon sm icon ni ni-wallet-out"></em></div>
                                            <div class="tranx-date">18 Aug 2023, 20:45 pm</div>
                                            <div class="text-primary">Payment for equipment </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tranx-col">
                                    <div class="tranx-amount">
                                        <div class="tranx-date">Amount</div>
                               <div class="text-danger fs-16px">- 425,000.00 
                                 <span class="currency currency-usd"><span class="currency currency-btc">USD</span></span></div>
                                        <div class="number-sm"><strong class="text-success">Completed</strong></div>
                                    </div>
                                </div>
                                 <div class="tranx-col">
                                    <div class="tranx-amount">
                                        <div class="number">Debit<span class="currency currency-btc"></span></div>
                                        <span class="badge badge-dim badge-pill badge-outline-primary" data-toggle="modal" data-target="#modalDefault1659">View Details</span>
                              </div>
                      </div>
             </div><!-- .tranx-item -->
<div class="modal fade" tabindex="-1" id="modalDefault1659">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header bg-primary text-light">
    <h5 class="modal-title text-light">Transaction Details</h5>
    <a href="https://veritasfinancial.cc/personal-banking/dashboard.php?viewSource=SmpcO9pZk6OgwfP4Q6WR9ZElWe4t81fboVDDe2nO9B55qU9GbghkGwWnbbfjcLLRqYeV#" class="close text-light" data-dismiss="modal" aria-label="Close">
        <em class="icon ni ni-cross"></em>
    </a>
</div>
<div class="modal-body">
      <ul class="buysell-overview-list">
                <li class="buysell-overview-item">
                <span class="pm-currency"><em class="icon ni ni-check-circle-fill"></em> <span>Amount:</span></span>
                    <span class="pm-title">USD 425,000.00</span>
                </li>
                 <li class="buysell-overview-item">
                <span class="pm-currency"><em class="icon ni ni-check-circle-fill"></em> <span>Transaction reference:</span></span>
                    <span class="pm-title">VER/WTNKVCWN7-0923</span>
                </li>
                                                                                <li class="buysell-overview-item">
                <span class="pm-currency"><em class="icon ni ni-check-circle-fill"></em> <span>Date:</span></span>
                    <span class="pm-title">18 Aug 2023, 20:45 pm</span>
                </li>

                <li class="buysell-overview-item">
                <span class="pm-currency"><em class="icon ni ni-check-circle-fill"></em> <span>Available Balance:</span></span>
                    <span class="pm-title">USD 825,000.00</span>
                </li>
            </ul>
</div>
<div class="modal-footer bg-light">
    <span class="sub-text text-primary">Proccessed by Veritas Financial Union E-Service services.</span>
</div>
</div>
</div>
</div>
                                                                    <div class="tranx-item">
                                <div class="tranx-col">
                                    <div class="tranx-info">
                                        <div class="tranx-data">
                                            <div class="tranx-label">VER/6K1ULFCPZ-0923<em class="tranx-icon sm icon ni ni-wallet-out"></em></div>
                                            <div class="tranx-date">08 Aug 2023, 2:58 pm</div>
                                            <div class="text-primary">Payment for equipment </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tranx-col">
                                    <div class="tranx-amount">
                                        <div class="tranx-date">Amount</div>
                               <div class="text-danger fs-16px">- 600,000.00 
                                 <span class="currency currency-usd"><span class="currency currency-btc">USD</span></span></div>
                                        <div class="number-sm"><strong class="text-success">Completed</strong></div>
                                    </div>
                                </div>
                                 <div class="tranx-col">
                                    <div class="tranx-amount">
                                        <div class="number">Debit<span class="currency currency-btc"></span></div>
                                        <span class="badge badge-dim badge-pill badge-outline-primary" data-toggle="modal" data-target="#modalDefault1658">View Details</span>
                              </div>
                      </div>
             </div><!-- .tranx-item -->
<div class="modal fade" tabindex="-1" id="modalDefault1658">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header bg-primary text-light">
    <h5 class="modal-title text-light">Transaction Details</h5>
    <a href="#" class="close text-light" data-dismiss="modal" aria-label="Close">
        <em class="icon ni ni-cross"></em>
    </a>
</div>
<div class="modal-body">
      <ul class="buysell-overview-list">
                <li class="buysell-overview-item">
                <span class="pm-currency"><em class="icon ni ni-check-circle-fill"></em> <span>Amount:</span></span>
                    <span class="pm-title">USD 600,000.00</span>
                </li>
                 <li class="buysell-overview-item">
                <span class="pm-currency"><em class="icon ni ni-check-circle-fill"></em> <span>Transaction reference:</span></span>
                    <span class="pm-title">VER/6K1ULFCPZ-0923</span>
                </li>
                                                                                <li class="buysell-overview-item">
                <span class="pm-currency"><em class="icon ni ni-check-circle-fill"></em> <span>Date:</span></span>
                    <span class="pm-title">08 Aug 2023, 2:58 pm</span>
                </li>

                <li class="buysell-overview-item">
                <span class="pm-currency"><em class="icon ni ni-check-circle-fill"></em> <span>Available Balance:</span></span>
                    <span class="pm-title">USD 1,250,000.00</span>
                </li>
            </ul>
</div>
<div class="modal-footer bg-light">
    <span class="sub-text text-primary">Proccessed by Veritas Financial Union E-Service services.</span>
</div>
</div>
</div>
</div>
                                                                    <div class="tranx-item">
                                <div class="tranx-col">
                                    <div class="tranx-info">
                                        <div class="tranx-data">
                                            <div class="tranx-label">VER/KTZWFP6K5-0923<em class="tranx-icon sm icon ni ni-wallet-out"></em></div>
                                            <div class="tranx-date">04 Aug 2023, 03:57 pm</div>
                                            <div class="text-primary">Payment for equipment </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tranx-col">
                                    <div class="tranx-amount">
                                        <div class="tranx-date">Amount</div>
                               <div class="text-danger fs-16px">- 450,000.00 
                                 <span class="currency currency-usd"><span class="currency currency-btc">USD</span></span></div>
                                        <div class="number-sm"><strong class="text-success">Completed</strong></div>
                                    </div>
                                </div>
                                 <div class="tranx-col">
                                    <div class="tranx-amount">
                                        <div class="number">Debit<span class="currency currency-btc"></span></div>
                                        <span class="badge badge-dim badge-pill badge-outline-primary" data-toggle="modal" data-target="#modalDefault1657">View Details</span>
                              </div>
                      </div>
             </div><!-- .tranx-item -->

<div class="modal fade" tabindex="-1" id="modalDefault1657">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header bg-primary text-light">
    <h5 class="modal-title text-light">Transaction Details</h5>
    <a href="https://veritasfinancial.cc/personal-banking/dashboard.php?viewSource=SmpcO9pZk6OgwfP4Q6WR9ZElWe4t81fboVDDe2nO9B55qU9GbghkGwWnbbfjcLLRqYeV#" class="close text-light" data-dismiss="modal" aria-label="Close">
        <em class="icon ni ni-cross"></em>
    </a>
</div>
<div class="modal-body">
      <ul class="buysell-overview-list">
                <li class="buysell-overview-item">
                <span class="pm-currency"><em class="icon ni ni-check-circle-fill"></em> <span>Amount:</span></span>
                    <span class="pm-title">USD 450,000.00</span>
                </li>
                 <li class="buysell-overview-item">
                <span class="pm-currency"><em class="icon ni ni-check-circle-fill"></em> <span>Transaction reference:</span></span>
                    <span class="pm-title">VER/KTZWFP6K5-0923</span>
                </li>
                                                                                <li class="buysell-overview-item">
                <span class="pm-currency"><em class="icon ni ni-check-circle-fill"></em> <span>Date:</span></span>
                    <span class="pm-title">04 Aug 2023, 03:57 pm</span>
                </li>

                <li class="buysell-overview-item">
                <span class="pm-currency"><em class="icon ni ni-check-circle-fill"></em> <span>Available Balance:</span></span>
                    <span class="pm-title">USD 1,850,000.00</span>
                </li>
            </ul>
</div>
<div class="modal-footer bg-light">
    <span class="sub-text text-primary">Proccessed by Veritas Financial Union E-Service services.</span>
</div>
</div>
</div>
</div>
                                                                  
                        </div><!-- .tranx-list -->
                    </div><!-- .col -->
                    <div class="col-md-6">
                        <div class="card-head">
                            <div class="card-title mb-0">
                                <h5 class="title">Balance Flow</h5>
                            </div>
                            <div class="card-tools">
                                <ul class="card-tools-nav">
                                    <li><a href="#">This Month</a></li>
                                    <li class="active"><a href="#">This Years</a></li>
                                </ul>
                            </div>
                        </div><!-- .card-title -->
                        <div class="card card-bordered">
                            <div class="card-inner">
                                <div class="nk-wg4">
                                    <div class="nk-wg4-group justify-center gy-3 gx-4">
                                        <div class="nk-wg4-item">
                                            <div class="sub-text">
                                                <div class="dot dot-lg sq" data-bg="#5ce0aa" style="background: rgb(92, 224, 170);"></div> <span>Received</span>
                                            </div>
                                        </div>
                                        <div class="nk-wg4-item">
                                            <div class="sub-text">
                                                <div class="dot dot-lg sq" data-bg="#798bff" style="background: rgb(121, 139, 255);"></div> <span>Sent</span>
                                            </div>
                                        </div>
                                        <div class="nk-wg4-item">
                                            <div class="sub-text">
                                                <div class="dot dot-lg sq" data-bg="#f6ca3e" style="background: rgb(246, 202, 62);"></div><span>Withdraw</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nk-ck3">
                                    <div class="chartjs-size-monitor">
                                        <div class="chartjs-size-monitor-expand">
                                            <div class=""></div></div>
                                            <div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                    <canvas class="chart-account-summary chartjs-render-monitor" id="summaryBalance" style="display: block; height: 258px; width: 368px;" width="736" height="516"></canvas>
                                </div>
                            </div><!-- .card-inner -->
                        </div><!-- .card -->
<!-- TradingView Widget BEGIN -->
{% include "user_templates/includes/trading_view.html" %}
<!-- TradingView Widget END -->
      </div><!-- .col -->
                </div><!-- .row -->
            </div>
            <!-- .nk-block -->
            <div class="nk-block">
                <div class="card card-bordered">
                    <div class="card-inner card-inner-lg">
                        <div class="align-center flex-wrap flex-md-nowrap g-4">
                            <!-- svg -->
                            {% include "user_templates/includes/svg.html" %}
                            <!-- svg end-->

                            <div class="nk-block-content">
                                <div class="nk-block-content-head px-lg-4">
                                    <h5>We’re here to help you!</h5>
                                    <p class="text-soft">Ask a question or file a support ticket, manage request, report an issues. Our team support team will get back to you by email.</p>
                                </div>
                            </div>
                            <div class="nk-block-content flex-shrink-0">
                                <a href="https://veritasfinancial.cc/personal-banking/contact" class="btn btn-lg btn-outline-primary">Get Support Now</a>
                            </div>
                        </div>
                    </div><!-- .card-inner -->
                </div><!-- .card -->
            </div><!-- .nk-block -->
        </div>
    </div>
</div>

{% endblock main_content %}