{% load static %}
<div id="sticky-wrapper" class="sticky-wrapper is-sticky" style="height: 137.406px;">
    <div class="bussiness-main-menu-1x" style="width: 1280px position: fixed; top: 0px;">	
    <div class="container">
        <div class="row">
<div class="col-md-12">		
    <div class="business-main-menu">		
        <nav class="navbar navbar-expand-lg navbar-light bg-light btco-hover-menu">
        <a class="navbar-brand" href="#">
            <img style="max-width:200px;" src="{% static 'account-assets/media/img/capital_logo.png' %}" class="d-inline-block align-top" alt="">
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
        <ul class="navbar-nav ml-auto business-nav">
            <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Banking Services <i class="fa fa-angle-down"></i><span style="display: block;font-size: 11px;">Accounts &amp; services</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2" style="width:100%;background-color: ##fff;">
                    
                    <div class="container">
                        <div class="business-services nav1">	
                            <div class="row">				
                                <div class="col-md-12 service-content">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="" class="menuhead">Current Accounts</a>
                                                        <li><a class="dropdown-item" href="">Veritas Account</a></li>
                                                        <li><a class="dropdown-item" href="">Advance Account</a></li>
                                                        <li><a class="dropdown-item" href="">Student Account</a></li>
                                                        <li><a class="dropdown-item" href="">Bank Account</a></li>
                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="" class="menuhead">Savings</a>
                                                        <li><a class="dropdown-item" href="">ISAs</a></li>
                                                        <li><a class="dropdown-item" href="">Online Bonus Saver</a></li>
                                                        <li><a class="dropdown-item" href="">Flexible Saver</a></li>
                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="" class="menuhead">Credit cards</a>
                                                        <li><a class="dropdown-item" href="">32 Month Transfer Credit Card</a></li>
                                                        <li><a class="dropdown-item" href="">Advance Credit Card</a></li>
                                                        <li><a class="dropdown-item" href="">Dual Credit Card</a></li>
                                                        <li><a class="dropdown-item" href="">Classic Credit Card</a></li>
                                                        <li><a class="dropdown-item" href="">Veritas Credit Card</a></li>
                                                        <li><a class="dropdown-item" href="">Veritas World Elite Mastercard</a></li>
                                                        <li><a class="dropdown-item" href="">Student Credit Card</a></li>
                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="https://veritasfinancial.cc/contactandsupport" class="menuhead">Services</a>
                                                        <li><a class="dropdown-item" href="">Ways to bank</a></li>
                                                        <li><a class="dropdown-item" href="">Voice ID</a></li>
                                                        <li><a class="dropdown-item" href="">Contact &amp; Support</a></li>
                                                        <li><a class="dropdown-item" href="">Find a Branch</a></li>
                                                        <a style="margin-top: 15px;" href="" class="menuhead">International services</a>
                                                        <li><a class="dropdown-item" href="">Currency Account</a></li>
                                                        <li><a class="dropdown-item" href="">International Payments</a></li>
                                                        <li><a class="dropdown-item" href="">Travel money</a></li>
                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>
                                    </div>
                                </div>									
                            </div>
                        </div>
                    </div>                                     
                </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Borrowing <i class="fa fa-angle-down"></i><span style="display: block;font-size: 11px;">Loans &amp; mortgages</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2" style="width:100%;background-color: ##fff;">
                    
                    <div class="container">
                        <div class="business-services nav2">	
                            <div class="row">				
                                <div class="col-md-12 service-content">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="" class="menuhead">Loans</a>
                                                        <li><a class="dropdown-item" href="">Personal Loan</a></li>
                                                        <li><a class="dropdown-item" href="">Car Loan</a></li>
                                                        <li><a class="dropdown-item" href="">Flexiloan</a></li>
                                                        <li><a class="dropdown-item" href="">Veritas Personal Loan</a></li>
                                                        <li><a class="dropdown-item" href="">Graduate Loan</a></li>
                                                  </div>
                                                </div>	
                                            </div>	
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="https://veritasfinancial.cc/overdrafts" class="menuhead">Overdrafts</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="https://veritasfinancial.cc/mortgages" class="menuhead">Mortgages</a>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/first-time-buyers">First time buyer</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/95-mortgages">95% Mortgages</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/remortgage">Remortgage</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/buy-to-let-mortgages">Buy to let</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/existing-customers">Existing homeowner</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/mortgage-rates">Mortgage rates</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/armed-forces">Armed Forces Personnel</a></li>
                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="https://veritasfinancial.cc/advance" class="menuhead">Credit cards</a>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/32-month-balance-transfer">32 Month Transfer Credit Card</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/advance">Advance Credit Card</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/dual">Dual Credit Card</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/classic">Classic Credit Card</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/premier">Veritas Credit Card</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/premier-world-elite">Veritas World Elite Mastercard</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/student">Student Credit Card</a></li>
                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="https://veritasfinancial.cc/contactandsupport" class="menuhead">Services</a>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/contactandsupport">Help &amp; Support</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/money-worries">Money Worries</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/branch-locator">Find a Branch</a></li>
                                                
                                                        <a style="margin-top: 15px;" href="https://veritasfinancial.cc/tools-and-guides" class="menuhead">Tools &amp; Guides</a>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/overpayment-calculator">Overpayment calculator</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/repayment-calculator">Repayment calculator</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/bank-of-england-base-rate">Base rate information</a></li>
                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>		
                                    </div>
                                </div>									
                            </div>
                        </div>
                    </div>                                     
                </ul>
              </li>	

              <li class="nav-item dropdown">
                    <a class="nav-link" href="https://veritasfinancial.cc/index" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Investing <i class="fa fa-angle-down"></i><span style="display: block;font-size: 11px;">Products &amp; analysis</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2" style="width:100%;background-color: ##fff;">
                    
                    <div class="container">
                        <div class="business-services nav3">	
                            <div class="row">				
                                <div class="col-md-12 service-content">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="https://veritasfinancial.cc/investing" class="menuhead">Investments</a>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/investment-funds">Investment funds</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/world-selection-isa">World Selection ISA</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/sharedealing">Sharedealing</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/premier-financial-advice">Veritas Financial Advice</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/stand-alone-investment-advice">Stand-alone Investment Advice</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/onshore-investment-bond">Onshore Investment Bond</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/child-trust-funds">Child Trust fund</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/investing">View all</a></li>
                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>
                                        
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="https://veritasfinancial.cc/news" class="menuhead">Financial news &amp; analysis</a>
                                                  </div>
                                                </div>	
                                            </div>
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="https://veritasfinancial.cc/why-invest-with-us" class="menuhead">Why invest with us?</a>
                                                    <li><a class="dropdown-item" href="https://veritasfinancial.cc/why-invest-with-us">Find out more</a></li>
                                                  </div>
                                                </div>	
                                            </div>
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="https://veritasfinancial.cc/wealth-insights" class="menuhead">Wealth Insights </a>
                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="https://veritasfinancial.cc/investment-funds-online" class="menuhead">Global Investment Centre</a>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/investment-funds-online">Find out more</a></li>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>	
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="https://veritasfinancial.cc/contactandsupport" class="menuhead">Customer support</a>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/gsa">Log on to Global Investment<br>Centre</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/gsa">Log on to Sharedealing</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/contactandsupport">Investments contacts</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/selected-investment-funds">Existing Selected Investments<br>Customers</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/getting-started">Getting started with investing</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/contactandsupport">View all</a></li>
                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>			
                                    </div>
                                </div>									
                            </div>
                        </div>
                    </div>                                     
                </ul>
              </li>	

              <li class="nav-item dropdown">
                    <a class="nav-link" href="https://veritasfinancial.cc/index" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Insurance <i class="fa fa-angle-down"></i><span style="display: block;font-size: 11px;">Property &amp; family</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2" style="width:100%;background-color: ##fff;">
                    
                    <div class="container">
                        <div class="business-services nav4">	
                            <div class="row">				
                                <div class="col-md-12 service-content">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="https://veritasfinancial.cc/insurance" class="menuhead">Insurance</a>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/home-insurance">Home Insurance</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/travel-insurance">Travel Insurance</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/student-insurance">Student Insurance</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/insurance">View all</a></li>
                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>
                                        
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="https://veritasfinancial.cc/life-insurance" class="menuhead">Life Insurance</a>
                                                    <li><a class="dropdown-item" href="https://veritasfinancial.cc/life-cover">Life Cover</a></li>
                                                    <li><a class="dropdown-item" href="https://veritasfinancial.cc/critical-illness-cover">Critical Illness Cover</a></li>
                                                    <li><a class="dropdown-item" href="https://veritasfinancial.cc/income-cover">Income Cover</a></li>
                                                    <li><a class="dropdown-item" href="https://veritasfinancial.cc/protection-telephone-advice">Telephone Protection Advice</a></li>
                                                    <li><a class="dropdown-item" href="https://veritasfinancial.cc/life-insurance">View all</a></li>
                                                  </div>
                                                </div>	
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="https://veritasfinancial.cc/insurance" class="menuhead">Insurance Claims</a>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/home-insurance-claims">Home Insurance Claims</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/travel-insurance">Travel Insurance Claims</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/car-insurance-claims">Car Insurance Claims</a></li>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>	
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="https://veritasfinancial.cc/premier-accounts" class="menuhead">Veritas Customers</a>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/premier-travel">Travel Insurance Claims</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/premier-car">Car Insurance Claims</a></li>
                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>			
                                    </div>
                                </div>									
                            </div>
                        </div>
                    </div>                                     
                </ul>
              </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link" href="https://veritasfinancial.cc/index" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Life events <i class="fa fa-angle-down"></i><span style="display: block;font-size: 11px;">Help &amp; support</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2" style="width:100%;background-color: ##fff;">
                    
                    <div class="container">
                        <div class="business-services nav5">	
                            <div class="row">				
                                <div class="col-md-12 service-content">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="https://veritasfinancial.cc/life-events" class="menuhead">Life events</a>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/dealing-with-bereavement">Bereavement support</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/dealing-with-separation">Separation support</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/settling-in-the-uk">Settling in the country</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/getting-married">Getting married</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/planning-your-retirement">Planning your retirement</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/growing-your-wealth">Growing your wealth</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/moving-abroad">Moving abroad</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/life-events">View all</a></li>
                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>
                                        
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="https://veritasfinancial.cc/planningtools" class="menuhead">Planning tools</a>
                                                    <li><a class="dropdown-item" href="https://veritasfinancial.cc/financial-health-check">Financial health check</a></li>
                                                    <li><a class="dropdown-item" href="https://veritasfinancial.cc/planningtools">View All</a></li>
                                                  </div>
                                                </div>	
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="https://veritasfinancial.cc/protecting-what-matters" class="menuhead">Protecting what matters</a>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/protecting-what-matters">Learn more</a></li>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>	
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="https://veritasfinancial.cc/contactandsupport" class="menuhead">Customer support</a>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/ways-we-can-help">Ways we can help</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/money-worries">Money Worries</a></li>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/ways-we-can-help">Frequently asked questions</a></li>
                                                        <a style="margin-top: 15px;" href="https://veritasfinancial.cc/quality-conversations" class="menuhead">Individual Review</a>
                                                        <li><a class="dropdown-item" href="https://veritasfinancial.cc/quality-conversations">Book your review today for a<br>quick financial checkup</a></li>
                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>			
                                    </div>
                                </div>									
                            </div>
                        </div>
                    </div>                                     
                </ul>
              </li>
               
             </ul>	
          </div>
        </nav>
    </div>
</div>
</div>
</div>
</div></div>